* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caption {
    position: absolute;
    top: 60%;
    color: white;
}

.cont {
    width: 200px;
    position: relative;
    top: 50%;
}

.design {
    background-color: #2c3e50;
}

.custum {
    position: absolute;
    top: 70%;
    color: white;
}

.heig {
    background-color: rgb(26 188 156);
    height: 100vh;
}

.port {
    font-size: 70px;
    margin-top: 150px;
}

.about {
    background-color: rgb(26 188 156);
    height: 80vh;
}

.form-floating input.form-control {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    outline: none;
    border-width: 1px;
    padding: 50px;
}

.foot {
    background-color: #2c3e50;
}

.icons {
    position: relative;
}

.icons.one {
    position: absolute;
    left: 5px;
    top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}

.icons.one i {
    position: absolute;
    left: 8px;
    top: 17%;
    font-size: 30px;
    color: aliceblue;
}

.one:hover {
    background-color: white;
}

.one i:hover {
    color: #2c3e50;
}

.two {
    position: absolute;
    left: 523px;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}

.two i {
    position: absolute;
    left: 8px;
    top: 17%;
    font-size: 30px;
    color: aliceblue;
}

.two:hover {
    background-color: white;
}

.two i:hover {
    color: #2c3e50;
}

.three {
    position: absolute;
    left: 43%;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}

.three i {
    position: absolute;
    left: 8px;
    top: 17%;
    font-size: 30px;
    color: aliceblue
}

.three:hover {
    background-color: white;
}

.three i:hover {
    color: #2c3e50;
}

.four {
    position: absolute;
    left: 47%;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}

.four i {
    position: absolute;
    left: 8px;
    top: 17%;
    font-size: 30px;
    color: aliceblue
}

.size {
    width: 300px;
    margin-left: 80px
}

.four:hover {
    background-color: white;
}

.four i:hover {
    color: #2c3e50;
}

.firstofmodal {
    margin-left: 40%;
    font-size: 40px;
}

.imgofmodal {
    width: 400px;
    margin-left: 25%;
}

.endofmodal {
    margin-right: 45%;
}

@media (max-width: 767px) {
    .container-fluid h1 a {
        color: red !important;
        margin-left: 41% !important;
        font-size: 32px !important;
    }
    .navbar {
        width: 160% !important;
    }

    .heig {
        width: 160% !important;   
    }

    .caption {
        position: absolute;
        top: 60%;
        left: 39%;
    }

    .caption h1 {
        font-size: 25px !important;
    }

    .col-md-5 img {
        width: 60px !important;
    }

        .cont {
            width: 200px;
            position: relative;
            top: 50%;
            left: -3%;
        }

        .custum {
            position: absolute;
            top: 62%;
            left: 40%;
        }

        .about {
            height: 95vh;
            width: 165% !important;
        }
        
        .about h1 {
            margin-left: 30% !important;
        }

        .about p {
            margin-left: 30% !important;
        }
        .about button {
            margin-left: 37% !important;
            margin-top: 3% !important;
        }

        .last h1 {
            margin-left: 50% !important;
        }

        .login input {
            padding: 30px !important;
            width: 173%;
        }
        .login textarea {
            padding: 30px !important;
            width: 173%;
        }

        .foot .first h3 {
            position: absolute;
            top: 590%;
            left: 44% !important;
        }

        .foot .sconde p {
            position: absolute;
            top: 599%;
            left: 53% !important;
        }

        .foot .zero h3{
            position: absolute;
            left: 44% !important;
            top: 620%;
        }

                .icons {
                    position: relative;
                }
        
                .icons.one {
                    position: absolute;
                    left: 25%;
                    top: 325px;
                }

                .two {
                    position: absolute;
                    left: 59%;
                    top: 625%;
                }

                .three {
                    position: absolute;
                    left: 75%;
                    top: 625%;
                }

                .four {
                    position: absolute;
                    left: 91%;
                    top : 625%;
                }
        
                .four i {
                    position: absolute;
                    left: 8px;
                    top: 17%;
                    font-size: 30px;
                    color: aliceblue
                }

        .foot {
            width: 165% !important;
            height: 100vh !important;
        }

        .foot .five h3 {
            position: absolute;
            top: 645% !important;
            left: 50% !important;
        }
        
        .foot .six p {
            position: absolute;
            top: 657% !important;
            left: 50% !important;
        }

        .port h1 {
            font-size: 70px;
            margin-left: 65%;
        }

            .port a {
                margin-left: 65%;
            }
        .size {
            margin-left: -28%;
        }
    
        .firstofmodal {
            margin-left: 16%;
            font-size: 35px;
        }

        .imgofmodal {
            width: 250px;
            margin-left: 10%;
        }

        .endofmodal {
            margin-right: 30% !important;
        }
}
